@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #C3D4E5;
}
.wrapper-box{
    position: relative;
    padding: 10px;
    height: 400px;
    width: 250px;
    border-radius: 25px;
    overflow: hidden;
}
.wrapper-box::before{
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color: #3780D0;
    border-radius: 25px;
    z-index: -3;
}
.wrapper-box::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 130%;
    height: 75%;
    background: linear-gradient(to bottom,#3A89DB,#48A3F4);
    border-radius: 50% 50% 25px 25px;
    z-index: -1;
}
.head-bar{
    position: relative;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
    z-index: 4;
}
.head-bar input{
    height: 100%;
    width: 100px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    outline: 1px solid rgba(255, 255, 255, 0.7);
}
.head-bar .city{
    display: flex;
    align-items: center;
}
.head-bar .city span{
    user-select: none;
    cursor: pointer;
}
.head-bar .city i{
    margin: 0 5px;
    cursor: pointer;
}
.head-bar .setting{
    justify-self: end;
    cursor: pointer;
}
.weather-img{
    margin: -30px auto;
    width: 200px;
}
img{
    width: 100%;
}
.temp h1{
    text-align: center;
    color: #fff;
}
.weather-details ul{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    text-align: center;
    font-size: 14px;
}
ul li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li div span{
    font-size: 18px;
}
